.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 30px;
   
 
}
.con{
    font-weight: bold;
    color: black;
    margin-bottom: 50px ;
    margin-top: 25px;
}
.contacts img{
    width: 500px;
    border-radius: 50%;
}
.language p{
    color: gray;
}
.language h3{
    font-weight: bold;
}
@media screen and (max-width:500px) {
    .contacts{
        display: flex;
        align-items: center; 
        gap: 30px;
        flex-direction: column;
       
     
    }
}