.main-container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.link-add  a{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.btn button{
    margin-left: 10px;
}
.main-nav h2{
   font-weight: bold;
   color: black;
}
.main{
  background-color: #E9ECEF;
}