.recepi-footer{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 5px;
    padding: 25px;
}
.main-footer{
    background: #333333;
    padding-bottom: 10px

}

.copyright{
    background: #2A2A2A;
     padding: 15px;
    color: white;
    /* margin-bottom: 50px; */
}
.new{
    padding-bottom: 10px;
}
.icons{
    display: flex;
   
}
.icons h2{
    margin-left: 5px;
}
@media screen and (max-width:500px) {
    .recepi-footer{
        color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 5px;
        padding: 25px;
    }

}