.imagess img{
        width: 310px;
        height: 200px;
}
.imagess{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 15px;
}
@media screen and (max-width:500px) {
    .imagess{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        gap: 15px;
        
    }
    .imagess img{
        width: 100%;
        height: 200px;
}
  }